.portfolio-entry-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 87vh;
	margin-top: 3rem;
	padding: 1rem;
	color: black;
}

.entry-title {
	text-align: center;
}

.portfolio-entry-content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.entry-image-container {
	width: 35%;
	min-width: 10rem;
	max-width: 30rem;
	padding: 1rem;
	z-index: 25;
}

.entry-image {
	border-radius: 1rem;
}

.blog-post-content {
	width: 60%;
}
