.portfolio-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	flex: 1 1 25%;
	min-width: 15rem;
	max-width: 25rem;
	margin: 1.2vw;
	border-radius: 1rem;
	background: var(--dark-1);
	text-align: center;
	transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
	z-index: 50;
}

.portfolio-item > * {
	position: relative;
	z-index: 25;
}

.portfolio-item:hover,
.portfolio-item a:hover {
	background: var(--mid-1);
	color: white;
	opacity: 0.9;
}

.portfolio-item a {
	border-radius: 1rem;
}

.item-text-container {
	padding: 1rem;
}

.item-title {
	text-align: center;
	font-size: 1.3rem;
}

.item-summary {
	text-align: center;
	font-size: 0.9rem;
}

.item-image-container {
	width: 100%;
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
}
