.portfolio-item {
	position: relative;
	width: 17rem;
	height: 20rem;
	padding: 1rem;
	margin: 1.2vw;
	border-radius: 1rem;
	background: var(--dark-1);
	text-align: center;
	transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.portfolio-item:hover {
	background: var(--mid-1);
	opacity: 0.9;
}

.item-title {
	text-align: center;
	font-size: 1.3rem;
}

.item-summary {
	text-align: center;
	font-size: 0.9rem;
}
.item-image-container {
	/* display: flex; */
	padding: 1rem;
}
