.project-feature-section-container {
	width: 100%;
	height: 100%;
	background: var(--dark-1);
	text-align: center;
}

.project-feature-section-container h2 {
	margin: 0;
	padding: 1rem;
}

.project-feature-content-container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"info image"
		"desc desc";
	padding: 2rem;
	background: var(--dark-1);
	text-align: left;
}

.projectFeatureVitals {
	grid-area: info;
}

.projectFeatureImage {
	grid-area: image;
}

.projectFeatureDescription {
	grid-area: desc;
}
