.project-feature-section-container {
	width: 100%;
	height: 100%;
	padding: 5rem 0;
	background: var(--bg-1);
	color: var(--main-text);
	text-align: center;
}

.project-feature-section-container h2 {
	margin: 0;
	padding: 1rem;
}

.project-feature-content-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	/* grid-template-rows: 1fr 1fr; */
	grid-template-areas:
		"title image"
		"info image"
		"desc desc";
	justify-items: center;
	padding: 1rem;

	text-align: left;
}

.project-feature-summary {
	grid-area: info;
	padding: 0 1rem;
	width: 90%;
	height: 100%;
	border-bottom: 2px solid var(--accent-1);
}

.project-feature-title {
	grid-area: title;
	text-align: center;
}

.project-feature-image-container {
	grid-area: image;
	justify-self: center;
	align-self: center;
	text-align: center;
	width: 100%;
	max-width: 45rem;
}

.project-feature-image-container iframe {
	max-width: 90vw;
}

.project-feature-description {
	grid-area: desc;
}

.project-feature-summary h3 {
	font-size: 1.7rem;
}

.project-button {
	margin-top: 4rem;
}

.project-button a {
	margin: 1rem;
	padding: 1rem;
	border: 0;
	border-radius: 0.8rem;
	background: var(--button-1);
	color: var(--button-1-text);
	transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.project-button a:hover {
	color: var(--button-1-text);
	filter: brightness(1.1);
}

/* Media queries */
@media (max-width: 700px) {
	.project-feature-content-container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"image"
			"info"
			"desc";
	}
	.project-feature-title {
		grid-area: title;
	}
}
