:root {
    --light-1: #d2dae2;
    --mid-1: #575fcf;
    --mid-2: #ff3f34;
    --mid-3: #0be881;
    --dark-1: #1e272e;
    --dark-2: #485460;
    --dark-3: #3c40c6;
}

body {
    margin: 0;
    color: var(--light-1);
}