@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--light-1: hsl(210, 22%, 85%);
	--mid-1: hsl(236, 56%, 58%);
	--mid-2: hsl(3, 100%, 60%);
	--mid-3: hsl(152, 91%, 48%);
	--dark-1: hsl(206, 21%, 15%);
	--dark-2: hsl(210, 14%, 33%);
	--dark-3: hsl(238, 55%, 51%);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow: auto;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	margin: 0;
	font-family: "KoHo", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	color: var(--light-1);
}

a {
	text-decoration: none;
	color: var(--light-1);
}

a:hover {
	color: var(--mid-3);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
}

.filled-button {
	margin: 1rem;
	padding: 1rem;
	border: 0;
	border-radius: 0.8rem;
	background: var(--mid-3);
	color: var(--dark-1);
	transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

button:hover {
	cursor: pointer;
	filter: brightness(1.3);
	opacity: 0.9;
}
