.main-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.2rem 3rem;

	transition: background-color 0.3s ease-in-out;
	z-index: 100;
}

.close-icon-container {
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 2.5rem;
	transition: transform 0.3s ease-in-out;
	z-index: 100;
}

.close-icon-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.close-icon-container svg {
	stroke: blue;
}

.close-icon-container svg > * {
	pointer-events: none;
}

.title-container {
	display: block;
	border-radius: 1rem;
	font-size: 1.3rem;
	transition: transform 0.3s ease-in-out;
}

.title-container a {
	display: block;
	padding: 1rem;
	width: 100%;
	height: 100%;
	color: var(--contrast-text);
	font-family: "Bad Script";
	font-size: 2rem;
	font-weight: 800;
}

.title-container:hover,
.title-container a:hover {
	transform: scale(1.05) skewX(-5deg);
	color: var(--accent-2);
}

.title-container a:hover {
	background: transparent;
}

.nav-list-link {
	border-radius: 10%;
	margin: 0.2rem;
	padding: 1rem;
	font-size: 1.1rem;
	color: var(--contrast-text);
	font-weight: 600;
	font-size: 1.2rem;
	background: var(--transparent-black);
	transition: background 0.3s ease-in-out, font-size 0.3s ease-in-out,
		color 0.3s ease-in-out;
}

.nav-list-link:hover,
.nav-list-link:focus {
	background: var(--accent-3-transparent);
	color: var(--contrast-text);
	font-size: 1.3rem;
}

@media (max-width: 600px) {
	.close-icon-container {
		display: block;
		color: var(--contrast-text);
	}
	.main-header {
		align-items: flex-start;
		padding: 0;
		overflow-y: auto;
	}
	.title-container {
		align-self: center;
		margin: 2rem 0 0 2rem;
		font-size: 2rem;
	}
	.header-nav {
		flex-direction: column;
		width: 100%;
	}

	.nav-list-link {
		display: block;
		width: 100%;
		margin-top: 2rem;
		font-size: 1.4rem;
		border-radius: 0;
	}
	.nav-list-link:hover {
		background: var(--bg-3);
		color: var(--accent-2);
	}
}
